
.container {
  margin-top:100px;
}

.color-light {
  background: #57B3F1;
  padding-top: 20px;
}

.color-dark {
  background: #2885C4
}


.pgh {
   margin: auto;
   width: 50%;
   border: 3px solid yellowgreen;
   padding: 10px;
}

.pgh {
  margin-top: 50px;
  margin-bottom: -50px;
}
